/*
*  Simple CSS
*/


.container {
    //background-image: url(../img/banner.jpg);
    
}

header {
    //background-image:  url(../img/banner.jpg);
    //background-position: center;
    border-radius: 2px;
    box-shadow: 8px 8px 5px gainsboro;
    vertical-align: middle;
    background: #6699ff;
    padding: 2pc;
     
}

header h1{  
    margin: 1em;
    font-size: xx-large;
    font-family: sans-serif;
    //font-style: italic;
    font-weight: 900;
    font-variant: small-caps;
    color: white;
    text-align: center;
    vertical-align: middle;
}

footer {
    margin-top: 1pc;
    padding: 1em;
    border-radius: 2px;
    box-shadow: 8px 8px 5px gainsboro;
    //border: black solid medium;
    alignment-adjust: middle;
    text-align: center;     
}

#error {
    color:  red;
}

#content {
    padding: 1pc;
    margin-left: auto;
    margin-right: auto;
}

.section {
    text-align: center;
}

.loginbox {
    text-align: center;
    
}

// for columns
//    -webkit-column-count: 3; /* Chrome, Safari, Opera */
//    -moz-column-count: 3; /* Firefox */
//    column-count: 3;

/*
#userbanner {
position: fixed;
height: 30px;
width: 100%;
border-top: 5px solid #a1cb2f;
background: #fff;
box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
z-index: 999999;
}*/

.partial-form {
    
    border-radius: 5px;
    box-shadow: 8px 8px 5px gainsboro;
    max-width: 20pc;
}

